
h1{
    background-color: #595d5e;
    width: 50%;
    height: 100px;
    margin-left: 23%;
    margin-bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    border: 2px solid #e66e6e;
    width: 100%;
    border-spacing: 2px;

}
table td{
    padding: 10px;
    background-color: #d1d1d1;
    text-align: center;

}
.name{
    text-align: left;
}
table thead th{
    background-color:#4c5fc9; 
    font-size: 20px;
}
.image{
    margin-top: 5%;
    margin-left: 32%;
    border: 3px black solid;
    width: 450px;
}